div{
   width: 100%;
   height: 100vh;
   background-color: black;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   
}
.rating__star {
    font-size: 1.2rem;
    cursor: pointer;
    
    transition: filter linear .5s;
 }
 
 .rating__star:hover {
    filter:opacity(0.3);
 }